<div>
    <span>The time is {{time}}</span>
</div>

<button type="button" (click)="loadTime()">Update Time</button>

<div>
    <span>Error: {{error}}</span>
</div>

<div>
    <span>Token: {{token}}</span>
</div>

<form (ngSubmit) = "login(username.value, password.value)" *ngIf="token == null">
    <div>Login:</div>
    <div>
        <span>Username:</span>
        <input name="username" id="username" #username type="text">
    </div>
    <div>
        <span>Password:</span>
        <input name="password" id="password" #password type="password">
    </div>
    <div>
        <input type = "submit" value = "submit">
    </div>
</form>
