/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

body{
    padding: 1rem;
}

.container-closed{
    & .home-icon{
        color: theme-color("success");
    }
}

.container-open{
    & .home-icon{
        color: theme-color("danger");
    }
}

.container-unknown{
    & .home-icon{
        color: theme-color("warning");
    }
}

@media (max-width: 550px) {
    .site-container{
        margin-top: 1.5rem !important;
    }
}
