
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

h2{
    color: $dark;
}

.button-container{
    width: 80%;
}

.home-icon{
    font-size: 10rem;
}

.logout{
    position: absolute;
    top: 5px;
    right: 5px;
}